.jumbotron{
    background-color: rosybrown;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rosybrown;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}