.jumbotron {
  background-color: #b76e79;
  color: #000;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #192841;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0px; }

footer a {
  color: #fff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

footer div.quick-links a {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

footer div.quick-links a:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700; }

footer div span {
  font-size: 12px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.carousel-inner img {
  width: 100%;
  max-height: 460px; }

/*# sourceMappingURL=styles.css.map */
