$rosegold: #b76e79;
$black: #000;
$green: #008000;
$blue: #192841;
$red: #ff0000;
$white: #fff;

@mixin  margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron{
    background-color: $rosegold;
    color: $black;
    @include margenes(50px, 10px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $blue;
    color: $white;
    @include margenes(20px, 0px);
}

footer a {
    color: $white;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

footer div.quick-links a{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

footer div.quick-links a:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}

footer div span{
    font-size: 12px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}